<navbar></navbar>
<div class="container">
  <h3 style="color:burlywood">Reset Password</h3>

  <p class="text-center">
    Please enter your email address to request a password reset.
  </p>
  <div class="form">
    <form>
      <p>
        <input
          id="inputbar"
          type="email"
          class="formControl"
          placeholder="Email Address"
          required
        />
      </p>
      <!-- Calling ForgotPassword from AuthService Api -->
      <p>
        <button id="btn" type="submit" (click)="forgotPassword(email.value)">
          Reset Password
        </button>
      </p>
    </form>
  </div>
  <span>Go back to ?</span>

  <a class="redirect" routerLink="/login">log in</a>
</div>
