.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  text-transform: uppercase;
  padding: 1em;
  height: auto;
  font-weight: 500;
  font-size: 1em;
  color: burlywood;
  text-align: center;
  border: 3px solid #c7541b;
  border-radius: 3px;
  background-color: #2a2e35;
  box-shadow: 0 0 20px 0 #c7541b;
}

#btn {
  background-color: burlywood;
  color: #ff6d24;
  width: 60%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;
}
#inputbar {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ff6d24;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #2a2e35;
  color: burlywood;
}

a {
  /* display: block;
  min-width: 177px;
  background: #2a2e35;
  font-weight: 500;
  font-size: 1.5em;
  text-decoration: none;
  padding: 1.8rem;
  text-align: center;
  color: #ff6d24;
  text-transform: uppercase;
  border: 3px solid #ff6d24;
  border-radius: 5px;
  margin: 30px 50px 50px 30px;
  cursor: pointer; */
  
 
  text-decoration: none;
  width: 60%;
  padding: 15px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 1em;
  line-height: 20px;
  cursor: pointer;

}

span {
  color: burlywood;
  font-size: 20px;
}
.text-center {
  color: burlywood;
}
.redirect{
  color:black;
  background-color: darkgoldenrod;

}
.redirect:hover{
  background-color:#ff6d24;
  color:white;
}