<navbar></navbar>
<main class="container">
  <section class=" hero ">
    <h1>Welcome</h1>
    <h4>to get started</h4>
    <a routerLink="./signup">signup</a>
  </section>
  <div class="top-box top-box-a">
    <h1>LET YOUR BUSINESS GET FOUND WITH OPLUG</h1>
    <h3>The market is wide and full of opportunities</h3>

    <p>
      many businesses are still Unnoticed or hard to reach With Oplug every
      business is connected
    </p>
    <svg width="100" height="100" id="cirt">
      <circle
        cx="50"
        cy="50"
        r="40"
        stroke-width="4"
        fill="orange"
        style="opacity:0.6; position:absolute;"
      />
    </svg>
  </div>
  <div class="center">
    <div id="cntbud">
      <h3>How does it work</h3>
    </div>
    <div class="top-box top-box-a">
      <p>
        Oplug is a service app that can get you connected to anykind of service
        or businesses <br />
        based on your current location ,
        <strong>oplug will find them when you need them.</strong>
      </p>
    </div>
    <h3>Services</h3>
    <div class="top-box top-box-a">
      <p>
        oplug can help you get services like Plumbers, Drycleaners, Mechanics,
        <br />
        Technicians, barbershops, resturants.. and many more
      </p>
    </div>
    <a id="learn-more" routerLink="/about"> learn more</a>
  </div>
</main>
<!--footer area-->

<svg width="200" height="100">
  <rect
    x="50"
    y="20"
    rx="20"
    ry="20"
    width="150"
    height="150"
    style="fill:red;stroke-width:5;opacity:0.3"
  />
</svg>
<svg width="200" height="100">
  <rect
    x="50"
    y="20"
    rx="20"
    ry="20"
    width="150"
    height="150"
    style="fill:red;stroke-width:5;opacity:0.3"
  />
</svg>
<footer class="foot">
  <!-- Social icons -->
  <div class=" container">
    <h5 style="font-size:2em; font-weight:500;">
      for partnership and support
    </h5>
    <p style="font-size:1.5em; font-weight: 600;">oplugsupport@yahoo.com</p>
  </div>
  <div class="container">
    <p
      style="font-size:1.5em; font-weight: 600; text-align: center; display: block; margin-left:50px"
    >
      &copy; 2020 oplug.ng All rights reserved.
    </p>
  </div>
</footer>
